<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="5">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style/style.css"/>
    <title>AzureApp</title>
  </head>
  <body> 
    <div class="content">
      <form method="POST" action="/button">
        <label for="image"><b>Ссылка на картинку</b></label>
        <input type="text" placeholder="Enter text" name="text" required>
        <button type="submit"></button>
      </form>
    </div>
  </body>
</html>